
        :root {
            --primaryColor: #161C2D;
            --secondaryColor: #4259ED;
            --iconColor: #4259ED;
            --iconColorOp: #5C6EE7;
            --iconColorOp2: #7C8BF1;
        }
        